@model List<Livro>
@{
    ViewData["Title"] = "Listagem de Livros";
}

<div class="row">
    <div class="col-md-12">
        <form class="form-inline" method="POST">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Autor">Autor</option>
                    <option value="Titulo">Título</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titulo</th>
                    <th>Autor</th>
                    <th>Ano</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Livro l in Model)
                {
                    <tr>
                        <td>@l.Id</td>
                        <td>@l.Titulo</td>
                        <td>@l.Autor</td>
                        <td>@l.Ano</td>
                        <td><a href="/Livro/Edicao/@l.Id" class="btn btn-info btn-sm">Editar</a></td>
                        <td>
            <form method="post" action="/Livro/ExcluirConfirmado">
                <input type="hidden" name="id" value="@l.Id" />
                <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
            </form>
        </td>
                    </tr>
                }
            </tbody>
        </table>
        
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
                    <a class="page-link" href="/Livro/Listagem?page=@(ViewBag.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                        <a class="page-link" href="/Livro/Listagem?page=@i">@i</a>
                    </li>
                }
                <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPages ? "disabled" : "")">
                    <a class="page-link" href="/Livro/Listagem?page=@(ViewBag.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>