@model Biblioteca.Models.UsuarioViewModel

<div class="container mt-4">
    <h1>Lista de Usuários</h1>

    @if (Model != null && Model.Usuarios != null && Model.Usuarios.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Login</th>
                    <th>Tipo</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var usuario in Model.Usuarios)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@(usuario.Tipo == UsuarioTipo.ADMIN ? "Administrador" : "Padrão")</td>
                        <td>
                            <a class="btn btn-primary" href="@Url.Action("Editar", "Usuarios", new { id = usuario.Id })">Editar</a>
                            <a class="btn btn-danger" href="@Url.Action("Excluir", "Usuarios", new { id = usuario.Id })">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Nenhum usuário disponível.</p>
    }

    @using (Html.BeginForm("RegistrarUsuarios", "Usuarios", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-success">Criar Novo Usuário</button>
    }
</div>