@model IEnumerable<Emprestimo>

@{
    ViewData["Title"] = "Listagem de Empréstimos";
}

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Emprestimo" asp-action="Listagem" method="POST" class="form-inline">
            <div class="form-group mb-2">
                <select name="TipoFiltro" class="form-control">
                    <option value="Usuario">Usuário</option>
                    <option value="Livro">Livro</option>
                </select>
            </div>
            <div class="form-group mb-2 mx-sm-3">
                <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Usuario</th>
                    <th>Data Empréstimo</th>
                    <th>Data Devolução</th>
                    <th>Livro</th>
                    <th>Autor</th>
                    <th>Ações</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.Id</td>
                        <td>@e.NomeUsuario</td>
                        <td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                        <td>@(e.DataDevolucao.HasValue ? e.DataDevolucao.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td>@(e.Livro != null ? e.Livro.Titulo : "")</td>
                        <td>@(e.Livro != null ? e.Livro.Autor : "")</td>
                        <td>
                            <div>
                            <a asp-controller="Emprestimo" asp-action="Edicao" asp-route-id="@e.Id">Editar</a>
                            </div>
                            <div>
                            <a asp-controller="Emprestimo" asp-action="Apagar" asp-route-id="@e.Id">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>